<div class="dope"ng-controller="DopeController">
    <dope></dope>
</div>
<div ng-controller="TradeController">
    <trade-buy></trade-buy>
    <trade-sell></trade-sell>
</div>
<div ng-controller="JacketController">
    <jacket></jacket>
</div>
<div class="locations" ng-controller="TimeController">
    <time></time>
</div>
<div class="locations" ng-controller="LocationController">
    <locations></locations>
</div>
